{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}

<style>
.userform{
 text-align: right;
}
</style> 

<div class='container'>

	<h1 class = 'userform' >Введите Вашу почту и пароль</h1>
	<form method='POST' class='userform'>
		{% csrf_token %}

		<div class="form-group">

			<label for={{ form.username }} Имя пользователя:</label>
				{{ form.username }}

		</div>

		<div class="form-group-pass">

			<label for={{ form.password }}Пароль:</label>
				{{ form.password }}
		</div>


		<input type="submit" class='btn btn-default' value='Войти'>
	</form>

</div>

{% endblock %}


