@import url(https://fonts.googleapis.com/css?family=Oswald);

<style>
#myindex {
	background: #5b7cdd
}


.nav.navbar-nav.navbar-right li a{
	color:  #ffffff;
}

.navbar-brand.mynav{
	color:  #355cd5;
}

</style>

#lampP {
	background: #ffffff;

}


svg{
  overflow:visible;  position:absolute;
  left:65%;top:410px;  transform: translate(-50%,0%);
}
.sB{ cursor: pointer;}
#back{
  position:absolute;left:50%;top:35%; width:100%; transform:translate(-50%,-50%);
  font-family:'Oswald', arial;  color:#ffffff;  font-size:20px; font-size:3vw;
  text-align:center; white-space: nowrap;
}
.report{
  position:absolute;left:50%;top:70%;transform:translate(-50%,-50%);
  color:white; font-family:tahoma , arial; font-size:20px;
  text-align:center; white-space: nowrap;
}


#DiacoDesignLink,#pens{
  color: #fff;
}


